body {
    font-size: 1rem;
    line-height: 1.6em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

header {
        background-color: white;
        padding: 2rem 0;
        
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;

}

header a {
    color: black;
    text-decoration: none;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-icon {
    display: none;
}


.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 100ms linear;
    border-radius: 30px;
}

.navigation ul li a:hover {
    background-color: #c9d4d3;
}

.carrito {
    width: 15px;
}


main.lema {
    padding-top: 10rem
}

.lema .corazon     {
    width: 40px;
}























@media only screen and (max-width: 700px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul.show {
        display:block
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul li {
        display: block;
    }
    
    .navigation ul li a {
        display: block;
        padding: 0.5rem;
        transition: all 100ms linear;
        border-radius: 15%;
    }
    
    .navigation ul li a:hover {
        background-color: #c9d4d3;
    }
}
